<!--The content below is only a placeholder and can be replaced.-->

<div>
    <div class="login-wrapper">
        <form class="login">
            <section class="title">
                <h3 class="welcome">Welcome to</h3>
                Github Api
                <h5 class="hint">Provide username and repository details.</h5>
            </section>
            <div class="login-group">
                
                <input class="username" #userText type="text" value="{{user}}" id="login_username" placeholder="Username">
                <input class="username" #repoText type="text" value="{{repo}}" id="login_username" placeholder="Repo Name">
                <div class="error active">
                    Invalid user name or repo
                </div>
                <button (click)="fetchDetail($event)" class="btn btn-primary">Fetch Details</button>
                <button (click)="sortForkCount($event)" class="btn btn-primary">Sort</button>
                <a href="https://github.com/rajdeepsharma17/angular-github-api" class="signup">Fork the repository</a>
            </div>
        </form>
        <div style="margin: 20px" class="row">
            <div style="margin: 30px" *ngFor="let item of collection">
                <div class="card">
                    <div class="card-header">
                        {{ item.name }}
                    </div>
                    <div class="card-block">
                         <a href="{{ item.html_url }}">{{ item.html_url }}</a> 
                    </div>
                    <div class="card-block">
                        <ul class="list">
                            <li>
                                Owner
                                <ul class="list">
                                    <li> Username: {{ item.owner.login }}</li>
                                    <li>Url: {{ item.owner.html_url }}</li>
                                    <li>ID: {{ item.owner.id }} </li>
                                </ul>
                            </li>
                            <li>Watch: {{ item.subscribers_count }} </li>
                            <li>Star: {{ item.stargazers_count }} </li>
                            <li>Forks: {{ item.forks }} </li>
                            <li>Updated At: {{ item.updated_at }}</li>
                            <li>Created At: {{ item.created_at }} </li>
                            <li>Pushed At:  {{ item.pushed_at }} </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{{ downloadlink }}" (click)="download" class="btn btn-primary">Download Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 





<div style="text-align:center">
  <div *ngFor="let item of collection" >
      {{ item }}
  </div>

  

